<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Простая загрузка файла</title>

</head>
<body>
<h1>Загрузка файла</h1>

<div class="message" th:text="${message}">Сообщение будет здесь</div>

<form method="post" action="/simple-upload/parse" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Распарсить</button>
</form>

<form method="post" action="/simple-upload/upload">
    <input type="hidden" name="fileName" th:value="${fileName}">
    <button type="submit"
            th:disabled="${!enableUpload}"
            th:text="'Загрузить в БД' + (${enableUpload} ? '' : ' (неактивно)')">
    </button>
</form>
</body>
</html>