<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Витрина товаров</title>
    <meta charset="UTF-8">
</head>

<body>
<!--
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
-->

<a sec:authorize="isAuthenticated()"
   href="/orders"
   style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a sec:authorize="isAuthenticated()"
   href="/cart/items"
   style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>

<div th:unless="${isAuthenticated}">
    <a href="/login" style="float:right;">  Войти  </a>
</div>

<a sec:authorize="isAuthenticated()"
   href="/logout"
   style="float:right;">
    <b>  Выйти  </b>
</a>

<div style="float: right; margin-right: 20px;">
    👤 <span sec:authentication="name">Гость</span>
</div>


    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form>
                    <p>
                        <label for="search">Найти: </label>
                        <input id="search" style="width:300px;" name="search" th:value="${search}">
                        <button name="action">&#128269;</button>
                    </p>
                    <p>
                        <label for="sort">Сортировка: </label>
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option value="NO" th:selected="${sort=='NO'}">нет</option>
                            <option value="ALPHA" th:selected="${sort=='ALPHA'}">по алфавиту</option>
                            <option value="PRICE" th:selected="${sort=='PRICE'}">по цене</option>
                        </select>
                    </p>
                    <p>
                        <label for="pageSize">Число товаров: </label>
                        <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                            <option value="5" th:selected="${paging.pageSize()==5}">5</option>
                            <option value="10" th:selected="${paging.pageSize()==10}">10</option>
                            <option value="20" th:selected="${paging.pageSize()==20}">20</option>
                            <option value="50" th:selected="${paging.pageSize()==50}">50</option>
                            <option value="100" th:selected="${paging.pageSize()==100}">100</option>
                        </select>
                    </p>
                    <p>
                        <button th:if="${paging.hasPrevious()}" name="pageNumber" th:value="${paging.pageNumber()-1}">&lt;</button>
                        <span th:text="${'Страница: '+paging.pageNumber()}"></span>
                        <button th:if="${paging.hasNext()}" name="pageNumber" th:value="${paging.pageNumber()+1}">&gt;</button>
                    </p>
                </form>
            </td>
        </tr>
        <tr th:each="itemsRow : ${items}">
            <td th:each="item : ${itemsRow}">
                <table>
                    <tr>
                        <td>
                            <a th:href="${'/items/'+item.getId()}">

                                <img width="300" height="300" th:src="${'http://localhost:8080/images/'+item.getImgPath()}">


                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b th:text="${item.getTitle()}"></b>
                        </td>
                        <td>
                            <b th:text="${item.getPrice()}+' руб.'"></b>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${item.getDescription()}"></td>
                    </tr>


                    <tr>
                        <td>
                            <form th:action="${'/main/items/'+item.getId()}" method="post">
                                <button name="action" value="minus">-</button>
                                <span th:text="${item.getCount()}"></span>
                                <button name="action" value="plus">+</button>
                                <button name="action" value="plus" th:if="${item.getCount()==0}" style="float:right;">В корзину</button>
                            </form>
                        </td>
                    </tr>

<!--
                    <form th:action="@{'/main/items/' + ${item.id}}"
                          method="post"
                          enctype="application/x-www-form-urlencoded">
                        <button type="submit" name="action" value="minus">-</button>
                        <span th:text="${item.count}"></span>
                        <button type="submit" name="action" value="plus">+</button>
                    </form>
-->


                </table>
            </td>
        </tr>
    </table>
</body>

</html>